*{
    font-family: Lato,sans-serif;
}


#form{
    width: 450px;
    height: 550px;
    /* border: 1px solid black; */
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 10px;
}

#form > p,h2{
    line-height: 22px;
    font-weight: 100;
}



h2,p{
    text-align: center;
}

p{
    color: #a2aab1;
}


#inputs{
    display: flex;
    /* justify-content: space-around; */
}

#main_input{
margin-left: 40px;
   width: 80%;
   height: 200px;
   margin-bottom: 30px;
   border: 0.2px solid #24be6a;
   
}

#submit{
    text-align: center;
    width: 81%;
    height: 36px;
    margin-left: 41px;
    background-color: #24be6a;
    color: white;
    border: none;
    cursor: pointer;
}

.h3_second{
    margin-left: 43px;
}

h3{
    /* line-height: 0.1; */

    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #444;
    display: flex;
    font-weight: 300;
    margin-bottom: 2px;
}

#first > input{

    width: 200px;
    margin-left: 40px;
    margin-right: 20px;
    height: 30px;
    border: 0.3px solid #24be6a;
}

#select_tag{
    width: 140px;
    height: 36px;
    border: 0.3px solid #24be6a;
}

#first > h3{
    margin-left: 40px;
}