* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "geomanist-book", sans-serif;

}

.install {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 32%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 60px;
    text-align: center;
}

.head {
    margin-top: 20px;
}

.para {
    display: block;
    margin: 10px auto;
    line-height: 22px;
    color: grey;
    text-align: center;
    width: 80%;
}

#app {
    display: block;
    margin: auto;
    width: 80%;
    margin: 30px auto;
}

.button {
    width: 100%;
    color: white;
    background-color: rgba(0, 128, 0, 0.736);
    padding: 12px 0px;
    border: none;
    border-radius: 3px;
    margin: 10px auto;

}

#para:hover {
    color: blue;
    cursor: pointer;
}

.star {
    width: 30%;


}

.down {

    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    width: 21%;
    height: 50px;
    /* border: 1px solid; */
}

.desc {

    color: black;
    text-decoration-line: underline;
}