* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    
}


#tryfr:hover {
    box-shadow: rgba(8, 250, 68, 0.35) 0px 5px 15px;
}

#book:hover {
    background-color: rgb(255, 255, 255);
}

.headline {
    font-weight: bold;
    font-size: 50px;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.hover:hover {
    color: #57bb71;
    cursor: pointer;
}

.after-headline {
    font-size: 27px;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: #5d5e63;
}

.after-headline>a {
    color:
        #4a90e2;
}

.tryfree {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-top: 30px;
}

.tryfree>button {
    padding: 15px 45px;
    border-radius: 5px;
    border-color: transparent;
    font-size: 15px;
}

.firs-image {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#third-div {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

#third-div>:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    gap: 30px;
}

#third-div>:nth-child(2) {
    width: 90%;
}

#third-div>:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

#third-div>:nth-child(1)>h3 {
    font-size: 20px;
}

#slideshow {
    width: 80%;
    height: 600PX;
    margin: auto;
    margin-top: 70px;
}

#slideshow>img {
    width: 100%;
    height: 100%;
}

#six-div {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.fifth-div {
    width: 90%;
    display: flex;
    margin-top: 100px;
}

.fifth-div>:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    gap: 30px;
}

#six-div {
    width: 85%;
    display: flex;
    margin: auto;
    margin-top: 150px;
    justify-content: space-around;
}

#six-div>img {
    width: 10%;
    height: 100px;
}

#seven-div {
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    gap: 50px;
    margin-top: 100px;
}

#seven-div>div {
    padding: 20px;
    background-color: #f0faf5;
}

#eight-div {
    width: 95%;
    display: flex;
    margin: auto;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
}

.commo {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.commo:hover {
    color: #57bb71;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#eight-div>div {
    width: 20%;
}

#eight-div>div>img {
    width: 100%;
    height: 170px;
}