* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}




#heading {
    margin-left: 320px;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 0.8;
    margin-top: 150px;
}

#heading>h1 {

    font-family: 'geomanist-book', sans-serif;
    font-weight: 500;
    color: #333;
    /* margin-left: 25px; */
    font-size: 50px;

}

#heading>h3 {

    font-family: 'geomanist-book', sans-serif;
    /* font-weight: 300; */
    color: #7a7876;
    /* font-size: 25px; */

    display: block;
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

button {
    margin-top: 10px;
    border-radius: 4px;
    background: #57bb71;
    font-size: 1rem;
    padding: 14px 20px;
    color: white;

}



input {
    border-radius: 4px;
    border: solid 1px #979797;
    font-family: "geomanist-regular", sans-serif;
    color: #767676;
    padding: 0 1rem;
    line-height: 1.5;
    height: 48px;
    width: 40%;
    font-size: 1rem;

    background: #fff;
}

#magic {
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 25px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #f2fbf9;

    cursor: pointer;
    /* padding: 5px; */
}

#magic>.div_1 {

    /* margin-left: 2px; */
    background-color: #f2fbf9;
    color: #57bb71;
    cursor: pointer;

}

#magic>.div_2 {

    /* margin-left: 2px; */
    background-color: #f2fbf9;
    color: #57bb71;
    cursor: pointer;

}


#magic>.div_1:visited {

    /* margin-left: 2px; */
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 7px;
}

#magic>.div_2:hover {

    /* margin-left: 2px; */

    /* background-color: #f2fbf9; */
    cursor: pointer;
    /* font-size: 10px; */
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 7px;
}



#pricing_div {

    width: 320px;
    height: 600px;
    border: 1px solid red;
    margin: auto;
    margin-top: 30px;
}

hr {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #8eddb2;
}

/* 
#pricing_div > h1{
    
} */

.pricing-cards {
    flex-direction: column;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: unset;
    border-radius: unset;
    margin-bottom: unset !important;
    width: 100%;
    padding: 40px;


    font-family: 'geomanist-regular', sans-serif;
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.44;
}

.pricing-cards {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 2px 9px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 16%);
    margin-bottom: 2rem !important;
    width: calc(100% / 4);
    margin: 0 auto;
}


.pricing-cards .pricing-card .pricing-card__cost-value {
    font-size: 4.375rem;
    line-height: 5rem;
    color: #57bb71;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    position: relative;
}


.action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 40px;
    height: 3rem;

    border-radius: 4px;
    background: #57bb71;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    padding: 0 1rem;
    letter-spacing: 0;
    position: relative;
    min-width: 152px;
    color: white;
    text-decoration: none;


}


.geomanist-theme {
    font-family: 'geomanist-regular', sans-serif;
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.44;
}


.row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.row {


    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}


.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 50%;
    margin: auto;


}

.col-xs-12:first-child {
    margin-left: 100px;
}

[class*="col-xs"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col-xs-12>h1,
h3 {

    width: 90%;

}


.col-xs-12>h1 {
    font-size: 30px;
}










.u-grid {
    padding: 5.75rem 0 3rem;
}

.u-grid {
    display: flex;
    padding: 55px 0;
}



.container {
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
}



.accordion {
    display: flex;
    flex-direction: column;
}


.accordion-item {
    border-bottom: 1px solid #c4e6cc;
    overflow: hidden;
}



.accordion-header {
    font-size: 1.125rem;
    font-family: 'geomanist-book', sans-serif;
    padding: 1.5rem 0;
    line-height: 1.44;
    cursor: pointer;
    position: relative;
    padding-right: 2rem;
    color: #333;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}



.accordion-body {
    padding: 0 0 0.5rem rem;
    color: #707070;
    display: none;
}


.accordion-item {
    border-bottom: 1px solid #c4e6cc;
    overflow: hidden;
}


.container:after {
    content: "";
    display: block;
    clear: both;
}



.accordion-header:after {
    content: '';
    display: block;
    background: url(../images/new-design/icons/svg/menu-drop_arrow.svg) 0 50% no-repeat;
    position: absolute;
    right: 0.5rem;
    width: 15px;
    height: 9px;
    top: 2rem;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    cursor: pointer;
    background-size: 100%;
}


p {
    margin-bottom: 15px;
    line-height: 1.5;
}



.accordion-item.show .accordion-header:after {
    -webkit-transform: rotate(-180deg) scale(0.9);
    -ms-transform: rotate(-180deg) scale(0.9);
    transform: rotate(-180deg) scale(0.9);
}


.container {
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
}


.geomanist-theme .mb--48 {
    margin-bottom: 3rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.44;
}

.center {
    text-align: center;
}


.badges .badges__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.certificates {
    justify-content: center;
    align-items: center;
}



a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}


input,
textarea,
button,
select,
.select2,
li,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: white;
}





.bricks {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin: -0.5rem;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}


.bricks__item {
    margin: 0.5rem;
    -webkit-transition: 1s ease all;
    background: #fff;
    margin-bottom: 2rem;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}




.bg-block-angle--left {
    left: -0.5rem;
    top: -0.5rem;
}

.bg-block-angle--left,
.bg-block-angle--right {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    background: url(../images/new-design/background-elements/corner-background-green.png) no-repeat;
    width: 100%;
    height: 100%;
}



.bricks__item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #7c7c7c;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.44;
}

/* p {
    margin-bottom: 15px;
    line-height: 1.5;
} */



.bg-images {
    position: relative;
}

.bricks__card {
    padding: 2.5rem;
    border: 2px solid #cef5d6;
    border-radius: 4px;
}

.bricks__item {
    margin: 0.5rem;
    -webkit-transition: 1s ease all;
    background: #fff;
    margin-bottom: 2rem;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}




.sign-up-footer .footer-wrapper {
    height: 480px;
}

.row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
}

.row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}




.page-title {
    margin-bottom: 0.5rem;
}

h2,
.h2 {
    font-size: 2.25rem;
    line-height: 1.22;
}




.page-subtitle {
    margin-bottom: 2rem;
}


.page-subtitle--improved h3 {
    font-size: 1.125rem;
    line-height: 1.44;
}


.page-subtitle h3 {
    font-family: 'geomanist-regular', sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.36;
    color: #767676;
}

h3,
.h3 {
    font-size: 1.75rem;
    line-height: 1.29;
}

#footer {
    background-color: #333;
}

button {
    border-style: none
}

.buy_btn {
    margin-left: 70px;
    margin-top: 20px;
}

.buy_btn:hover {
    box-shadow: rgba(8, 250, 68, 0.35) 0px 5px 15px;

}

/* .dot-list > ul > li{
    color: #5d5e63;
} */

.col-md-4 {
    color: #5d5e63;
    font-size: 22px;
    line-height: 35px;
}