                                              /* Sign up page main div */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;

  }
  #footer {
    background-color: #151616;
}

.main
{
    color: gray;
    width: 80%;
    margin: auto;
   margin-top: 80px;
   font-size: x-large;
    text-align: center;
}
.head
{
    width: 60%;
    color: black;
    margin-top:20px;
    margin:  auto;
}
.para
{
    font-size: 19px;
    width: 58%;
    margin: auto;        
    margin-bottom:50px;
    margin-top: 10px;
    line-height: 25px;  
}

                                                    /* Inputs boxes */

.google,#email,#pass
{
    width: 25%;
    margin: 10px 0px;
    border: 1px solid ;
   padding: 10px;
   border-radius:5px;
   font-size: large;
   background-color: transparent;
}
.start
{
    margin: 30px 0px;
    font-size: large;
    color: white;
    background-color: rgb(68, 170, 68);
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
   
}


                                                    /* signup container */

#email,#pass
{
    display: flex;
  margin:15px auto;
    justify-content: center;
}

                                                     /* Images for time Tracker */

.flex   
{
    display: flex;
 justify-content: center;
 font-size: 17px;
 gap: 10px;
}
#six-div {
    width: 85%;
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    justify-content: space-around;
}

#six-div>img {
   margin: 70px 0px;
    height:80px;
}


                                                      /* Bottom boxes */

.container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.bricks
{
   padding: 40px 0px; 
}

.bricks__item
{
    color: gray;
    font-size: large;
    line-height: 25px;
border:1px solid rgb(183, 244, 183);
padding: 40px;
margin-left: 30px;
margin-bottom: 50px;
}

     
                                                    /* Highlights */

.highlight-text
{
    background-color: rgb(245, 245, 153);
}

.more
{
background-color: transparent;
color:   rgb(68, 170, 68);
padding: 14px 35px;
border: 1px solid rgb(68, 170, 68);;
margin-top: -60px;
}
.start:hover
{
    color: white;
    cursor: pointer;
    background-color: rgb(68, 170, 68);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}



