* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "geomanist-book", sans-serif;
    /* color: #333; */
}

#main {
    width: 80%;
    margin: auto;
}

#container1 {
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#headPara>h1 {
    width: 80%;
    font-size: 3rem;
    line-height: 1.17;
    margin-top: 50px;
    font-weight: 500;
}

#headPara>h3 {
    width: 70%;
    font-family: "geomanist-regular", sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.36;
    color: #767676;
    margin: 30px 0px;
}

#headPara>h3+input {
    border-radius: 4px;
    border: solid 1px #979797;
    font-family: "geomanist-regular", sans-serif;
    color: #767676;
    padding: 0 1rem;
    line-height: 1.5;
    height: 48px;
    width: 40%;
    font-size: 1rem;

    background: #fff;
}

#headPara>h3+input+button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 1rem;
    height: 3rem;
    border-radius: 4px;
    background: #57bb71;
    font-size: 1rem;
    line-height: 1;
    padding: 0 1rem;
    position: relative;
    min-width: 152px;
    color: white;
}

#headPara>h3+input+button:hover {
    box-shadow: 0 0 30px 0 rgb(26 191 104 / 40%);
    cursor: pointer;
}

#headPara>h3+input+button #headImg>img {
    width: 100%;
}

.midHeader {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 150px auto;
    text-align: center;
}

.midHeader>h2 {
    font-size: 2.25rem;
    font-weight: 550;
}

.midHeader>h3 {
    font-size: 1.125rem;
    line-height: 1.44;
    font-family: "geomanist-regular", sans-serif;
    font-weight: 400;
    line-height: 1.36;
    color: #767676;
}

.midHeader>img {
    width: 80%;
    margin: auto;
}

#container2,
#container3,
#container4,
#container5,
#container6 {
    margin: 150px -2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    font-family: "geomanist-regular", sans-serif;
    gap: 50px;
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.44;
}

.features {
    padding: 0 2.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.features>div {
    margin-bottom: 0.625rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.features>div>img {
    width: 10%;
}

.features>div>h4 {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 600;
}

.features>p {
    line-height: 1.44;
    font-family: "geomanist-regular", sans-serif;
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

#footer {
    background-color: #151616;
}